<div class="card card-body">
  <h3>New user</h3>
  <form class="" action="/ideas" method="post">
    <div class="form-group">
      <label for="Student Id">User Id</label>
      <input type="text" class="form-control" name="std_id" value="" required >
    </div>
    <div class="form-group">
      <label for="Student Name">Username Name</label>
      <textarea class="form-control" name="std_name" require></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" href="/admin/add">Add more</button>

  </form>
</div>
